<div id="<%= dom_id customer %>" class="customer-card">
  <div style="margin-bottom:0.5rem">
    <strong>Name:</strong>
    <div><%= customer.name %></div>
  </div>

  <div>
    <strong>Email:</strong>
    <div class="meta"><%= mail_to customer.email %></div>
  </div>

</div>
