<% content_for :title, "Editing customer" %>

<div class="container">
  <h1 class="page-title">Editing customer</h1>

  <%= render "form", customer: @customer %>

  <div style="margin-top:1rem">
    <%= link_to "Show", @customer, class: "btn btn-ghost" %>
    <%= link_to "Back to customers", customers_path, class: "btn btn-ghost" %>
  </div>
</div>
