<% content_for :title, "Edit Customer" %>

<h1>Edit Customer</h1>

<%= render "form", customer: @customer %>

<p>
  <%= link_to "Show", @customer %> |
  <%= link_to "Back to customers", customers_path %>
</p>
