<% content_for :title, "Editing product" %>

<h1 style="color:#361134;">Editing Product</h1>

<%= render "form", product: @product %>

<br>
<%= link_to "Show this product", @product, style: "color:#EA3788;" %> |
<%= link_to "Back to products", products_path, style: "color:#B0228C;" %>
