<% content_for :title, "New product" %>

<h1 style="color:#361134;">New Product</h1>

<%= render "form", product: @product %>

<br>
<%= link_to "Back to products", products_path, style: "color:#B0228C;" %>
