<% if @product.errors.any? %>
  <div style="color: red; margin-bottom: 15px;">
    <h4>
      <%= pluralize(@product.errors.count, "error") %> prevented saving:
    </h4>

    <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% content_for :title, "New Product" %>

<div style="width: 400px; margin: auto;">

  <h2>New Product</h2>

  <%= render "form", product: @product %>

</div>
